
    <footer class="fixed-bottom">

    <div class="blackGrad" id="contact" style=" color: white;">
        <div class="row">
            <div class="col-lg-12 offset-lg-0">
                <h3 class="text-center ">Site by Saif Mustafa</h1>
                <h5 class="text-center text-">Contact Me</h5>
                <h6 class="text-center text-">
                    <div id="social">
                        <a class="rssBtn smGlobalBtn" style="background-color: black" href="http://www.saifsm.com" ></a>
                        <a class="phoneBtn smGlobalBtn" href="tel:1-647-804-8977"></a>
                        <a class="googleplusBtn smGlobalBtn" href="mailto:Saif.Mustafa94@Gmail.com"></a>
                        <a class="linkedinBtn smGlobalBtn" href="https://www.linkedin.com/in/saif-mustafa-90b046b5/"></a>
                        <a class="gitBtn smGlobalBtn" href="https://github.com/saifsm1994"></a>
                    </div>
                </h6>
            </div>
        </div>
    </div>    
    </footer>
