     <head>
      <title>myAPI by Saif Mustafa</title>
        <!-- <title>Saif Mustafa</title> -->
        <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
        <link href="/style.css" rel="stylesheet" type="text/css">
        <script src="/jquery/jquery.min.js"></script>
        <script src="/jquery/jquery.js"></script>
        <link href="/Bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
        <link href="/Bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <script src="/Bootstrap/js/bootstrap.min.js"></script>


    </head>