
    <div class="form-group row">
        <label for="textToMp3">Enter Text Here</label>
        <textarea class="form-control" rows="5" id="textToMp3" name="textToMp3" placeholder="She sells sea shells down by the sea shore... The reindeer in spain was hit mainly by the plane..."></textarea>
        <!-- <input type="text" class="form-control" id="textToMp3" name="textToMp3" placeholder="She sells sea shells down by the sea shore... The reindeer in spain was hit mainly by the plane..."> -->
    </div>
    
    <div class="form-group row">
        <div class="col-lg-3 col-sm-12">
            <label for="voiceChoiceFemale">Female voice [Default]</label>
            <select class="form-control" id="voiceChoiceFemale" name="voiceChoiceFemale">
                <option>Blank</option>
                <option>en-AU-Standard-A</option>
                <!-- <option>en-AU-Standard-B</option> -->
                <option>en-AU-Standard-C</option>
                <!-- <option>en-AU-Standard-D</option> -->
                <option>en-AU-Wavenet-A</option>
                <!-- <option>en-AU-Wavenet-B</option> -->
                <option>en-AU-Wavenet-C</option>
                <!-- <option>en-AU-Wavenet-D</option> -->
                <option>en-GB-Standard-A</option>
                <!-- <option>en-GB-Standard-B</option> -->
                <option>en-GB-Standard-C</option>
                <!-- <option>en-GB-Standard-D</option> -->
                <option>en-GB-Wavenet-A</option>
                <!-- <option>en-GB-Wavenet-B</option> -->
                <option>en-GB-Wavenet-C</option>
                <!-- <option>en-GB-Wavenet-D</option> -->
                <!-- <option>en-US-Standard-B</option> -->
                <option>en-US-Standard-C</option>
                <!-- <option>en-US-Standard-D</option> -->
                <option>en-US-Standard-E</option>
                <!-- <option>en-US-Wavenet-A</option> -->
                <!-- <option>en-US-Wavenet-B</option> -->
                <option>en-US-Wavenet-C</option>
                <!-- <option>en-US-Wavenet-D</option> -->
                <option>en-US-Wavenet-E</option>
                <option>en-US-Wavenet-F</option>

            </select>
        </div>

        <div class="col-lg-3 col-sm-12">
            <label for="voiceChoiceMale">Male voice [Secondary Option]</label>
            <select class="form-control" id="voiceChoiceMale" name="voiceChoiceMale">
                <option>Blank</option>
                <!-- <option>en-AU-Standard-A</option> -->
                <option>en-AU-Standard-B</option>
                <!-- <option>en-AU-Standard-C</option> -->
                <option>en-AU-Standard-D</option>
                <!-- <option>en-AU-Wavenet-A</option> -->
                <option>en-AU-Wavenet-B</option>
                <!-- <option>en-AU-Wavenet-C</option> -->
                <option>en-AU-Wavenet-D</option>
                <!-- <option>en-GB-Standard-A</option> -->
                <option>en-GB-Standard-B</option>
                <!-- <option>en-GB-Standard-C</option> -->
                <option>en-GB-Standard-D</option>
                <!-- <option>en-GB-Wavenet-A</option> -->
                <option>en-GB-Wavenet-B</option>
                <!-- <option>en-GB-Wavenet-C</option> -->
                <option>en-GB-Wavenet-D</option>
                <option>en-US-Standard-B</option>
                <!-- <option>en-US-Standard-C</option> -->
                <option>en-US-Standard-D</option>
                <!-- <option>en-US-Standard-E</option> -->
                <option>en-US-Wavenet-A</option>
                <option>en-US-Wavenet-B</option>
                <!-- <option>en-US-Wavenet-C</option> -->
                <option>en-US-Wavenet-D</option>
                <!-- <option>en-US-Wavenet-E</option> -->
                <!-- <option>en-US-Wavenet-F</option> -->
            </select>
        </div>


        <div class="col-lg-6 col-sm-12">
            <label for="submit">Submit:</label>
                <br />
             <button type="submit" value="Submit" class="btn btn-primary">Submit</button>

        </div>
    </div>

