<!DOCTYPE html>
<html lang="en">




    <head>
        <% include ../views/partials/head %>
    </head>
            
<body class="" style="overflow-x: hidden;">
    <!-- Navigation -->
    <!--    <header>-->
    <% include ../views/partials/navbar  %>
        <!--    </header>-->

   
   
    <main>

        <div class="parallax1 jumbotron" id="home" style="height: 100%;">
            <div class="row">
                <div class="col-lg-4 offset-lg-4">
                    <h1 class="text-center text-white">TITLE</h1>
                </div>
                <div class="col-lg-4 offset-lg-4">
                    <h4 class="text-center text-white">SUBHEADING</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 offset-lg-3 col-md-3 col-sm-12 offset-sm-0" style="margin-left: %;">
                    <div class="card-body">
                        <div class="text-center card text-white bg-info mb-3">
                            <div class="card-header ">
                                <h5>CARD HEADER</h5>
                            </div>
                            <div class="card-text text-muted" style="visibility: hidden;">.</div>
                            <div class="card-text ">
                                <h6>POINT 1</h6>
                            </div>
                            <div class="card-text " style="visibility: hidden;">.</div>
                            <div class="card-text ">
                                <h6>POINT 2</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </main>
       
    <footer>
        <% include ../views/partials/footer %>
    </footer>

    <script>
      
        $(document).ready(function() {
            $('[data-toggle="dropdown"]').dropdown();
        });
    </script>

</body>

</html>
