<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../views/partials/head %>
</head>

<body class="">

    <% include ../views/partials/navbar  %>

    <main>
    <div class="container">
        <div class="jumbotron">
                <h1 class="display-4">Your file is being created</h1>
                <p class="lead">Please wait for at least 15 seconds and click the buttons below. </p>
                <!-- <p class="lead" style="color: red">Warning: These files may not work with certain mp3 players such as VLC. </p> -->
                <hr class="my-4">
                <!-- <p>It uses regular consumer calls and is therefore limited in the number of daily uses.</p> -->

                <% if(locals.link) { %>
                <% locals.link.forEach((element,index) => { %>

                <a type="button" class="btn btn-primary buttonLink isDisabled" style="margin: 5px 5px 5px 5px; color: white"  href="
                    <% if (element) { %>
                    <%=  element %>
                    <% } %>">Download Article  
                        <%= index %>
                     </a>
                 <% }) %>
                 <% } %>
                 <br><br>

        
            </div>
        </div>
    </main>

    <% include ../views/partials/footer %>


    <script>
        setTimeout(() =>{
            $('.buttonLink').removeClass("isDisabled");
        }, 10000)
    </script>
    
</body>

</html>
