<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../views/partials/head %>
</head>

<body class="container0">

    <!--    <header>-->
    <% include ../views/partials/navbar  %>
        <!--    </header>-->

    <main>
    <div class="container">
        <div class="jumbotron">
                <h1 class="display-4">Your file is being created</h1>
                <p class="lead">Please wait a few seconds and click the button below. </p>
                <!-- <p class="lead" style="color: red">Warning: These files may not work with certain mp3 players such as VLC. </p> -->
                <hr class="my-4">
                <!-- <p>It uses regular consumer calls and is therefore limited in the number of daily uses.</p> -->
                <a type="button" class="btn btn-primary"
                <% if (!locals.link) { %>
                    disabled
                  <% } %>
                 href="
                 <% if (locals.link) { %>
                 <%=locals.link%>
                 <% } %>
                 ">Download</a>
                 <br><br>
                 <h4><a style="color: black" href="
                <% if (locals.link) { %>
                    <%= locals.link.replace("tempDownloads",'download') %>
                <% } %>
                    ">Link to this page: 
                <% if (locals.link) { %>
                    <%= locals.link.replace("tempDownloads",'download') %>
                <% } %>
                
                
                </a></h4>

        
            </div>




<!--                     
        <form  action="/api/redditApi/requestText" method="post">

                <% include ../views/partials/redditForm  %>

        </form> -->

          <footer>
                <% include ../views/partials/footer %>
        </footer>
    

    </div>

    </main>


</body>

</html>
