<!DOCTYPE html>
<html lang="en">




<head>
    <% include partials/head %>
</head>

<body class="" style="overflow-x: hidden;">
    <!-- Navigation -->
    <!--    <header>-->
    <% include partials/navbar  %>
        <!--    </header>-->



        <main>
            <div class="parallax jumbotron" id="home" style="height: 100%;">
                <div class="row">
                    <div class="col-lg-4 offset-lg-4">
                        <h1 class="text-center text-white">Exercise Tracker</h1>
                    </div>
                    <div class="col-lg-4 offset-lg-4">
                        <h4 class="text-center text-white">An API which allows for the creation of users and tracking of exercise done.</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 offset-lg-4 offset-md-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="card-body">
                            <div class="text-center card text-white bg-info mb-3">
                                <form action="/api/exercise/new-user" method="post">
                                    <div class="card-header ">
                                        <h5>Create a new user</h5>
                                    </div>
                                    <div class="card-text ">
                                        <input id="uname" type="text" name="username" placeholder="username">
                                        <input type="submit" value="Submit">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="parallax jumbotron" id="home" style="height: 100%;">
                <div class="row">
                    <div class="col-lg-4 offset-lg-4 offset-md-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="card-body">
                            <div class="text-center card text-white bg-info mb-3">
                                <form action="/api/exercise/add" method="post">
                                    <div class="card-header ">
                                        <h5>Add exercises</h5>
                                    </div>
                                    <div class="card-text ">
                                        <p>POST /api/exercise/add</p>
                                        <input id="uid" type="text" name="userId" placeholder="username*">
                                        <input id="desc" type="text" name="description" placeholder="description*">
                                        <input id="dur" type="text" name="duration" placeholder="duration* (mins.)">
                                        <input id="dat" type="text" name="date" placeholder="date (yyyy-mm-dd)">
                                        <input type="submit" value="Submit">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="parallax jumbotron" id="home" style="height: 100%;">
                <div class="row">
                    <div class="col-lg-6 offset-lg-3 offset-md-3 col-md-6 col-sm-12 col-xs-12">
                        <div class="card-body">
                            <div class="text-center card text-white bg-info mb-3">
                                <div class="card-header ">
                                    <h5>Retrieve exercise Logs</h5>
                                </div>
                                <div class="card-text ">
                                    <p><strong>GET users's exercise log: </strong>
                                        <br> GET /api/exercise/log?{username=USERNAME}[&amp;from=FROM][&amp;to=TO][&amp;limit=LIMIT]
                                    </p>
                                    <p><strong>{ }</strong> = required, <strong>[ ]</strong> = optional</p>
                                    <p><strong>from, to</strong> = dates (yyyy-mm-dd); <strong>limit</strong> = number</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </main>

        <footer>
            <% include partials/footer %>
        </footer>

        <script>
            $(document).ready(function() {
                $('[data-toggle="dropdown"]').dropdown();
            });

        </script>

</body>

</html>
