<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../views/partials/head %>
</head>

<body class="container0">

    <!--    <header>-->
    <% include ../views/partials/navbar  %>
        <!--    </header>-->

        <main>
            <div class="jumbotron ">
                <div class="mt-5 row">
                    <div class="col-lg-8 offset-lg-2 col-sm-12 col-xs-12 offset-md-0">
                        <h1 class="text-center">Welcome to [autopodcast service].</h1>
                        <h3 class="text-center">By <a href="http://www.saifsm.com">Saif Mustafa</a></h3>
                        <br>
                        <h4><span style="font-weight: bold; ">Description:</span> [autopodcast service] allows users to scrape subreddits and build a podcast.</h4>
                        <br><br>
                        <h4 class="text-center">Projects</h4>
                        <h5><span style="font-weight: bold; ">AutoPodcast:</span> The AutoPodcast API is a small project I created to allow users to create a podcast of reddit for on the go listening.</h5>
                    </div>
                </div>
            </div>
        </main>

        <footer>
            <% include ../views/partials/footer %>
        </footer>

</body>

</html>
