<!-- views/pages/smallAPI.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../views/partials/head %>
</head>

<body class="container0">

    <!--    <header>-->
    <% include ../views/partials/navbar  %>
        <!--    </header>-->

        <main>
            <div class="jumbotron parallax">
                <div class="mt-5 row">
                    <div class="col-lg-8 offset-lg-2 col-sm-12 col-xs-12 offset-md-0 text-white">
                        <h1 class="text-center">Welcome to my aggregate app for Microservice APIs</h1>
                        <br>
                        <br>
                        <h4>You can find a list of all the microservice api projects I've built here.<br><br>Please select one of the options in the navbar to see a full description and usage guide for each API.<br><br>Individual and combined source code can be found on github.</h4>
                    </div>
                </div>
            </div>
        </main>

        <footer>
            <% include ../views/partials/footer %>
        </footer>

</body>

</html>
