<!-- views/pages/Autopodcast.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../views/partials/head %>
</head>

<body class="">

    <!--    <header>-->
    <% include ../views/partials/navbar  %>
        <!--    </header>-->

    <main>
    <div class="container">
        <div class="jumbotron">
                <h1 class="display-4">Welcome to my google Wavenet Tester.</h1>
                <p class="lead">This App accepts a get request per the form below and returns an mp3 of the input text in the chosen voice.</p>
                <hr class="my-4">
                <p>This uses the relatively expensive google Wavenet API for voices. As such please note that calls may be limited.</p>
                <p style="color: red;">Warning: Audio files have a 5000 character limit. Files which are longer than this will be truncated</p>

        </div>     
        <form  action="/api/redditApi/voiceTestMe" method="post">
            <% include ../views/partials/testerForm  %>
        </form>
    </div>
    </main>
    
    <% include ../views/partials/footer %>



</body>

</html>
